/* Estilo general del body con grid */
/*Variables*/
:root {
    --color-claro-fondo: #ffffff;
    --color-claro-texto: #000000;

    --color-oscuro-fondo: #1a1a1a;
    --color-oscuro-texto: #f0f0f0;

    --color-principal: #4CAF50;
    --color-secundario: #333333;
    --color-acento: #a5d6a7;
}

/*Estilos para el body*/
body {
    display: grid;
    grid-template-areas: "banner" "productos" "footer";
    grid-template-rows: auto 1fr auto;
}

/* Estilos para header y footer */
.header {
    grid-area: banner;
    background-color: var(--color-principal);
    color: var(--color-claro-texto);
    padding: 1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer {
    grid-area: footer;
    background-color: var(--color-secundario);
    color: white;
    text-align: center;
    padding: 1rem;
}

.footer a {
    color: var(--color-acento);
    margin: 0 10px;
    text-decoration: none;
}



nav a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
}

/*Estilo para el grid principal de productos*/
.product-grid {
    grid-area: productos;
    display: grid;
    /*2 filas*/
    grid-template-rows: auto auto;
    /*4 columnas en pantallas grandes*/
    grid-template-columns: repeat(4, minmax(250px, 1fr));
    gap: 1rem;
    padding: 2rem;
}

.product-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 1rem;
    text-align: center;
}

.product-card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 6px;
}

/* Estilo para el título de la tarjeta del producto */
.product-card h3 {
    font-size: 1.5rem;
    line-height: 1.4;
    font-weight: 700;
    letter-spacing: 5px;
}

/* Estilo para la descripción del producto */
.product-card p {
    font-size: 1rem;
    line-height: 1.4;
    font-weight: 400;
}

.buy-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 4px;
}




/* Media para móviles: distribución en una sola columna */
@media (max-width: 600px) {
    body{
        grid-template-rows: auto 1fr auto;
        grid-template-columns: 1fr; /* Una sola columna */
        grid-template-areas: "banner" "productos" "footer";
    }
    .product-grid {
        grid-template-columns: 1fr; /* Una sola columna */
        gap: 0.5rem; /* Espacio entre tarjetas */
    }
    .product-card h3 {
        font-size: 1.2rem; /* Ajuste de tamaño para pantallas pequeñas */
    }

    .product-card p {
        font-size: 0.9rem; /* Ajuste de tamaño para pantallas pequeñas */
    }
}