/*Variables*/
:root {
    --color-claro-fondo: #ffffff;
    --color-claro-texto: #000000;

    --color-oscuro-fondo: #1a1a1a;
    --color-oscuro-texto: #f0f0f0;

    --color-principal: #4CAF50;
    --color-secundario: #333333;
    --color-acento: #a5d6a7;
}

/*Estilos para el body*/
body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--color-claro-fondo);
    color: var(--color-claro-texto);
}



/* Estilos para header y footer */
.header {
    background-color: var(--color-principal);
    color: white;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer {
    background-color: var(--color-secundario);
    color: white;
    text-align: center;
    padding: 1rem;
}

.footer a {
    color: var(--color-acento);
    margin: 0 10px;
    text-decoration: none;
}



nav a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 1rem;
    padding: 2rem;
}

.product-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 1rem;
    text-align: center;
}

.product-card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 6px;
}

.buy-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 4px;
}
